{% import "macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}
{% markdown %}
<div data-o-grid-colspan="12 S11 Scenter M9 L8 XL7">

{% for par in content %}
{{ par | safe }}
{% endfor %}

  <!-- {# START MID AD SLOT
      You can move this wherever it works best in your page's design.
      For more control over the size, write your own o-ads div - see
      https://financial-times.github.io/o-ads/docs/developer-guide/display #}
  {% if flags.ads %}{{ macros.middleAd() }}{% endif %}
  {# END MID AD SLOT #} -->
</div>

<div data-o-grid-colspan="12">
  <section class="cities">
    <div class="one"></div>
    <div class="two"></div>
    <div class="three"></div>
    <div class="four"></div>
    <div class="five"></div>
    <div class="six"></div>
    <div class="seven"></div>
    <div class="eight"></div>
    <div class="nine"></div>
  </section>

  <figcaption class="cities-caption">FT graphic: First Last&nbsp; Source: Source<br />&copy; FT</figcaption>
</div>



</div>
{% endmarkdown %}
{% endblock %}
