@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

// Dark theme
body {
  background-color: oColorsGetPaletteColor('slate');
}

.article {
  color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);

  h1,
  h2,
  p,
  .o-typography-author:not(:hover),
  .o-typography-wrapper ol li::before,
  ol li,
  figcaption,
  small {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
  }
}

.onward-journey {
  h3,
  h2 {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
  }
}
