@import 'o-forms/main';
@import 'o-grid/main';
@import 'o-colors/main';

$bg: #393f4d;

@include oFormsBaseFeatures(locate-user-presets);

.locate-user-presets {
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  width: auto;

  @include oGridRespondTo($until: L) {
    margin-bottom: 0;
    width: 100%;
    max-width: 380px !important;
  }

  label {
    padding-bottom: 0.5em;
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 73);
  }

  &__select {
    display: flex;
    flex: 1;
    width: 380px;
    background-color: $bg;
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
    margin-top: 0;
    margin-bottom: 0;
    background-image: url('https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1:arrow-down?source=o-icons&tint=white,white&format=svg');
    border: 1px solid $bg;
    font-size: 20px;
    line-height: 24px;
    padding-top: 9px;

    @include oGridRespondTo($until: L) {
      width: auto;
    }
  }
}
