@import 'o-buttons/main';

$size: 15px;
$warning: #ffec1a;

.app {
  .geolocate__button,
  .geolocate__spinner {
    width: $size;
    height: $size;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .geolocate__button {
    @include oButtons();
    cursor: pointer;
    min-height: 40px;
    background-color: #3b3d42;
    border-color: #b3a9a0;
    border-width: 1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;

    &--disabled {
      pointer-events: none;
    }
  }

  .geolocate__spinner {
    animation: rotate 1.5s linear infinite;
  }

  .geolocate__error-message {
    position: absolute;
    background: #3b3d42;
    left: -80px;
    top: 20px;
    line-height: 1em;
    padding: 0.25em;
    color: $warning !important;
    border: 1px solid $warning;
    border-radius: 3px;
    font-size: 0.8em;

    &::after {
      content: ' ';
      position: absolute;
      top: 50%;
      left: 100%; /* To the right of the tooltip */
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent $warning;
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
