.key {
  &__footer {
    text-align: center;
    padding-top: 0.25em;
    color: rgba(255, 255, 255, 0.6) !important;
    text-transform: none !important;
  }

  &__legend {
    display: block;
    margin: 0 auto;

    .legend {
      font-family: MetricWeb, sans-serif;
      font-weight: 600;
    }

    .label-text {
      text-anchor: middle;
      font-size: 14px;
      fill: white;
      font-family: MetricWeb;
    }
  }
}
