@import 'o-grid/main';
@import '~slick-carousel/slick/slick.scss';
@import '~slick-carousel/slick/slick-theme.scss';

.slow-cities {
  [data-o-grid-colspan] [data-o-grid-colspan] {
    padding-left: 0 !important; // shakes fist at o-grid
  }
}

.image-grid {
  & > * {
    width: 100%;
    display: block;
  }

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;

  @include oGridRespondTo($from: L) {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }

  &-carousel {
    padding-left: 0;

    ul li {
      padding-left: 0;
      &:before {
        content: '';
      }
    }

    .slider {
      box-shadow: 0 20px 50px -25px rgba(0, 0, 0, 1);
    }

    .slider-track {
      transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
    }

    .slick-slide {
      height: 100%;
      position: relative;
      z-index: 1;

      img {
        width: 100%;
        transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
        transform: scale(1.2);
      }

      &.slick-active img {
        transform: scale(1);
      }
    }
  }
}
