@import 'o-grid/main';
@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;

.app {
  .interactive-wrapper {
    margin: 0 0 24px;

    @include oGridRespondTo(M) {
      margin-bottom: 56px;
    }

    @include oGridRespondTo(L) {
      display: flex;
    }

    .map-container {
      @include oGridResetColumn;
      position: relative;
      height: 60vh;
      background-color: #262a33;

      @include oGridRespondTo(L) {
        flex: 2;
        order: 1;
        margin: 0 20px 0 0;
        height: 600px;
      }

      .mapboxgl-control-container {
        .mapboxgl-ctrl-attrib {
          background-color: rgba(38, 42, 51, 0.8);
          font-family: $font-sans;
          font-size: 14px;

          a {
            color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100) !important;
            border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

            &:hover {
              color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              text-decoration: none;
            }

            &:focus {
              color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              border-bottom-color: transparent;
              outline: none;
            }
          }
        }

        .mapboxgl-ctrl-bottom-left {
          top: 0;

          .mapboxgl-ctrl:not(.mapboxgl-ctrl-scale) {
            position: absolute;
            bottom: 0;
          }

          .mapboxgl-ctrl-logo {
            border-bottom: none;
          }

          .mapboxgl-ctrl-scale {
            height: 10px;
            margin: 10px 0 0 10px;
            border-width: 1px 1px medium;
            border-style: solid solid none;
            border-color: #fff;
            background-color: transparent;
            color: #fff;
            font-family: $font-sans;
            font-size: 14px;
            text-align: center;
            font-feature-settings: 'tnum';
            -webkit-font-feature-settings: 'tnum';
            -moz-font-feature-settings: 'tnum';

            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              top: 5px;
              right: -5px;
              left: 5px;
              height: 25px;
              background-color: #1a1d23;
              opacity: 0.8;
            }
          }
        }

        .mapboxgl-ctrl-top-right {
          position: absolute;
          top: 122px;
          right: 10px;
        }
      }

      .navigation-control-container {
        position: absolute;
        top: 10px;
        right: 10px;
      }

      .mapboxgl-ctrl-group {
        margin: 0;
        border: 1px solid #77787a;
        border-radius: 0;
        padding: 2px;
        -webkit-box-shadow: none;
        box-shadow: none;
        background: #262a33;

        button {
          & + button {
            border-top: 1px solid #77787a;
          }

          &.mapboxgl-ctrl-zoom-in {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23ffffff%3B%27%20d%3D%27M%2010%206%20C%209.446%206%209%206.4459904%209%207%20L%209%209%20L%207%209%20C%206.446%209%206%209.446%206%2010%20C%206%2010.554%206.446%2011%207%2011%20L%209%2011%20L%209%2013%20C%209%2013.55401%209.446%2014%2010%2014%20C%2010.554%2014%2011%2013.55401%2011%2013%20L%2011%2011%20L%2013%2011%20C%2013.554%2011%2014%2010.554%2014%2010%20C%2014%209.446%2013.554%209%2013%209%20L%2011%209%20L%2011%207%20C%2011%206.4459904%2010.554%206%2010%206%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A');
          }

          &.mapboxgl-ctrl-zoom-out {
            background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23ffffff%3B%27%20d%3D%27m%207%2C9%20c%20-0.554%2C0%20-1%2C0.446%20-1%2C1%200%2C0.554%200.446%2C1%201%2C1%20l%206%2C0%20c%200.554%2C0%201%2C-0.446%201%2C-1%200%2C-0.554%20-0.446%2C-1%20-1%2C-1%20z%27%20%2F%3E%0A%3C%2Fsvg%3E%0A');
          }

          &.mapboxgl-ctrl-geolocate {
            background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%20%20%3Cpath%20style%3D%27fill%3A%23ffffff%3B%27%20d%3D%27M10%204C9%204%209%205%209%205L9%205.1A5%205%200%200%200%205.1%209L5%209C5%209%204%209%204%2010%204%2011%205%2011%205%2011L5.1%2011A5%205%200%200%200%209%2014.9L9%2015C9%2015%209%2016%2010%2016%2011%2016%2011%2015%2011%2015L11%2014.9A5%205%200%200%200%2014.9%2011L15%2011C15%2011%2016%2011%2016%2010%2016%209%2015%209%2015%209L14.9%209A5%205%200%200%200%2011%205.1L11%205C11%205%2011%204%2010%204zM10%206.5A3.5%203.5%200%200%201%2013.5%2010%203.5%203.5%200%200%201%2010%2013.5%203.5%203.5%200%200%201%206.5%2010%203.5%203.5%200%200%201%2010%206.5zM10%208.3A1.8%201.8%200%200%200%208.3%2010%201.8%201.8%200%200%200%2010%2011.8%201.8%201.8%200%200%200%2011.8%2010%201.8%201.8%200%200%200%2010%208.3z%27%20%2F%3E%0D%0A%3C%2Fsvg%3E');
          }
        }
      }
    }

    .histogram-container {
      @include oGridResetColumn;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include oGridRespondTo(L) {
        flex: 1;
        order: 2;
      }
    }
  }
}
