@import 'o-grid/main';
@import 'o-colors/main';

$font-sans: MetricWeb, sans-serif;

.app {
  .interactive-wrapper {
    margin: 0 0 24px;

    @include oGridRespondTo(M) {
      margin-bottom: 60px;
    }

    @include oGridRespondTo(L) {
      display: flex;
    }

    .map-container {
      @include oGridResetColumn;
      position: relative;
      height: 60vh;
      background-color: #262a33;

      @include oGridRespondTo(L) {
        flex: 2;
        order: 1;
        margin: 0 20px 0 0;
        height: 600px;
      }

      .mapboxgl-control-container {
        .mapboxgl-ctrl-attrib {
          background-color: rgba(38, 42, 51, 0.8);
          font-family: $font-sans;
          font-size: 14px;

          a {
            color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100) !important;
            border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

            &:hover {
              color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              text-decoration: none;
            }

            &:focus {
              color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
              border-bottom-color: transparent;
              outline: none;
            }
          }
        }

        .mapboxgl-ctrl-bottom-left {
          top: 0;

          .mapboxgl-ctrl:not(.mapboxgl-ctrl-scale) {
            position: absolute;
            bottom: 0;
          }

          .mapboxgl-ctrl-logo {
            border-bottom: none;
          }

          .mapboxgl-ctrl-scale {
            height: 10px;
            margin: 10px 0 0 10px;
            border-width: 1px 1px medium;
            border-style: solid solid none;
            border-color: #fff;
            background-color: transparent;
            color: #fff;
            font-family: $font-sans;
            font-size: 14px;
            text-align: center;
            font-feature-settings: 'tnum';
            -webkit-font-feature-settings: 'tnum';
            -moz-font-feature-settings: 'tnum';

            &::after {
              content: '';
              position: absolute;
              z-index: -1;
              top: 5px;
              right: -5px;
              left: 5px;
              height: 25px;
              background-color: #1a1d23;
              opacity: 0.8;
            }
          }
        }
      }

      .navigation-control-container {
        position: absolute;
        top: 10px;
        right: 10px;

        .mapboxgl-ctrl-group {
          border: 1px solid #77787a;
          border-radius: 0;
          -webkit-box-shadow: none;
          box-shadow: none;
          background: #262a33;

          button {
            & + button {
              border-top: 1px solid #77787a;
            }

            &.mapboxgl-ctrl-zoom-in {
              background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aplus?source=ig&tint=%23ffffff&format=svg&quality=highest);
            }

            &.mapboxgl-ctrl-zoom-out {
              background-image: url(https://www.ft.com/__origami/service/image/v2/images/raw/fticon-v1%3Aminus?source=ig&tint=%23ffffff&format=svg&quality=highest);
            }
          }
        }
      }
    }

    .histogram-container {
      @include oGridResetColumn;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: none;

      @include oGridRespondTo(L) {
        flex: 1;
        order: 2;
      }
    }
  }
}
