// starter-kit dark theme
@import 'o-typography/main';

body {
  background-color: oColorsGetPaletteColor('slate');
}

.article {
  .o-typography-topic,
  .o-typography-author {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);

    &:hover {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
    }
  }

  h1 {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
  }

  .o-typography-standfirst {
    @include oTypographySans($scale: 2, $line-height: 24px);
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

    a {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
      border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 37);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
      }
    }
  }

  p,
  a,
  ol li,
  ul li,
  div {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 90);
  }

  p {
    @include oTypographySerif($scale: (default: 1, XL: 2), $line-height: 1.6);

    a {
      border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 37);
      }
    }
  }

  ol li,
  ul li {
    @include oTypographySerif($scale: 1, $line-height: 28px);

    &::before {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 90) !important;
    }
  }

  figcaption {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

    a {
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 90);
      border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 37);
      }
    }
  }

  footer small {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 90);

    a {
      border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);

      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
        border-bottom: 2px solid oColorsGetTextColor(oColorsGetPaletteColor('slate'), 37);
      }
    }
  }
}

.onward-journey {
  h3,
  h2 {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);

    a {
      &:hover {
        color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
      }
    }
  }

  time {
    color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 60);
  }
}
