.fullscreen {
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.faux-fullscreen-map {
  position: fixed !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
}

.faux-fullscreen {
  overflow: hidden;
  height: 100%;
}

.fullscreen-control {
  margin-top: 5px !important;
}
