$o-buttons-is-silent: false;

@import 'o-grid/main';
@import 'o-buttons/main';
@import 'o-typography/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: FinancierDisplayWeb, serif;

.app {
  h2 {
    margin: 40px 0 66px 0;
    color: white;
    font-family: $font-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.18em;
    text-align: center;

    @include oGridRespondTo($until: M) {
      margin: 0 0 28px 0;
      font-size: 28px;
      line-height: 32px;
    }
  }

  .histogram-national {
    margin-bottom: 56px;
    @include oGridRespondTo($until: M) {
      margin-bottom: 24px;
    }
  }

  .methodology {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding-top: 48px;

    h3 {
      @include oTypographySans($scale: 2);
      color: oColorsGetTextColor(oColorsGetPaletteColor('slate'), 100);
      font-weight: 600;
    }

    p {
      @include oTypographySans($scale: 1, $line-height: 28px);
    }
  }
}
