$o-buttons-is-silent: false;

@import 'o-grid/main';
@import 'o-buttons/main';

$font-sans: MetricWeb, sans-serif;
$font-serif: FinancierDisplayWeb, serif;

.app {
  margin-bottom: 18px;

  h2 {
    margin: 40px 0 66px 0;
    color: white;
    font-family: $font-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 1.18em;

    @include oGridRespondTo($until: M) {
      margin: 0 0 28px 0;
      font-size: 28px;
      line-height: 32px;
    }
  }

  .histogram-national {
    margin-bottom: 56px;
    @include oGridRespondTo($until: M) {
      margin-bottom: 24px;
    }
  }
}
