$o-loading-is-silent: false;

@import 'o-loading/main';
@import 'o-grid/main';

.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
  background-color: #262a33;
  opacity: 1;
  transition: opacity 300ms linear;
  text-align: center;

  @include oGridRespondTo(M) {
    padding: 20px;
  }

  h3 {
    color: #fff;
  }
}

.map-loaded {
  opacity: 0;
}
