.loader {
  position: absolute;
  z-index: 999;
  width: 100%;
  height: 100vh;
  display: block;
  background-color: #262a33;
  opacity: 1;
  transition: opacity 500ms linear;
  text-align: center;
}

.map-loaded {
  opacity: 0;
}
