.histogram {
  position: relative;
  max-width: none !important;
  margin: 54px 0 64px 0;
}

.histogram h2 {
  position: absolute;
  margin: 0;
  color: white;
  font-size: 37px;
  font-family: FinancierDisplayWeb, serif;
  font-weight: normal;
  text-align: center;
}
