@import 'o-grid/main';

.histogram {
  max-width: none !important;

  @include oGridRespondTo(L) {
    order: 1;
  }
}

.histogram__source {
  @include oGridRespondTo(L) {
    order: 2;
    margin-bottom: auto !important;
    padding-bottom: 10px;
  }
}
